@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-rubik
}

:root {
    --primary-color: #121212;
    --secondary-color: #efefef;
    --accent-color: #F53855;
    --nav-font-color: #4F5665;
    --paragraph-color: #4F5665;
}


.main {
    @apply w-screen h-auto px-6 tablet:px-14 laptopL:px-28
}

.nav_lists > li {
    @apply py-[0.25rem]
}

.nav_lists > li > a {
    @apply text-[var(--accent-color)] font-bold py-[0.25rem] laptop:text-[var(--nav-font-color)] laptop:font-light
}

.nav-show {
    @apply flex;
}

.nav-list-show {
    @apply flex;
}

.nav-list-tablet-mode {
    @apply tablet:hidden;
}
    
.feature-description {
    @apply pt-6 text-[var(--paragraph-color)] font-thin text-justify tablet:text-[18px] laptopL:text-[20px]
}

.feature-items {
    @apply flex items-center gap-3
}

.feature-items > h1 {
    @apply font-thin text-sm laptopL:text-lg
}


