@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-rubik
}

:root {
    --primary-color: #121212;
    --secondary-color: #efefef;
    --accent-color: #F53855;
    --nav-font-color: #4F5665;
    --paragraph-color: #4F5665;
}

/* Repeatable Class Below */

.main {
    @apply w-screen h-auto px-6 tablet:px-14 laptopL:px-28
}

.nav_lists > li {
    @apply py-[0.25rem]
}

.nav_lists > li > a {
    @apply text-[var(--accent-color)] font-bold py-[0.25rem] laptop:text-[var(--nav-font-color)] laptop:font-light
}

.nav-show {
    @apply flex;
}

.nav-list-show {
    @apply flex;
}

.nav-list-tablet-mode {
    @apply tablet:hidden;
}
    
.feature-description {
    @apply pt-6 text-[var(--paragraph-color)] font-thin text-justify tablet:text-[18px] laptopL:text-[20px]
}

.feature-items {
    @apply flex items-center gap-3
}

.feature-items > h1 {
    @apply font-thin text-sm laptopL:text-lg
}

.plan-wrapper {
    @apply w-full h-full mx-auto px-4 pt-16 rounded-lg
}

.plan-section {
    @apply w-[190.26px] h-[280px] mx-auto flex flex-col gap-5
}

.plan-content {
    @apply flex items-center gap-4
}

.plan-content-text {
    @apply text-[var(--paragraph-color)] font-thin text-[15px]
}

.plan-footer {
    @apply h-1/2 pb-12 flex justify-center items-end
}

.plan-footer-button {
    @apply mt-4 px-16 py-2 text-[var(--accent-color)] font-semibold border border-[var(--accent-color)] rounded-full
}

.sponsored-icon {
    @apply w-[140px] h-[140px] aspect-[1/1] object-contain tablet:w-[100px] tablet:h-[100px] laptop:w-[130px] laptop:h-[130px] laptopL:w-[170px] laptopL:h-[170px]
}

.customer-section {
    @apply w-[272px] h-[250px] mx-auto p-5 border-2 border-[#DDDDDD] rounded-xl tablet:h-[320px]
}

.footer-socmed-icon {
    @apply w-[60px] h-[60px] aspect-[1/1] object-contain -translate-x-4
}

.footer-list > li > a {
    @apply text-[var(--paragraph-color)]
}