@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-rubik
    }
}

:root {
    --primary-color: #121212;
    --secondary-color: #efefef;
    --accent-color: #F53855;
    --nav-font-color: #4F5665;
}

.nav_lists > li {
    @apply py-[0.25rem]
}

.nav_lists > li > a {
    @apply text-[var(--accent-color)] font-bold py-[0.25rem] laptop:text-[var(--nav-font-color)] laptop:font-light
}

.nav-show {
    @apply flex
}

.nav-list-show {
    @apply tablet:flex
}

.nav-list-tablet-mode {
    @apply tablet:hidden;
}



    